<div class="container">
<h1>Route to show is working.</h1>
<div class="search-bar">
    <form action="/cars" class="form-inline padded">
      <input type="text" class="form-control border-radius input-lg" placeholder="">
      <input type="text" name="checkin" class="form-control border-radius input-lg datepicker" placeholder="Checkin">
      <input type="text" name="checkout" class="form-control border-radius input-lg datepicker" placeholder="Checkout">
      </form>
</div>
</div>